{var $category = $container['category']}
<div class="form-group">
    <input class="form-control" n:name="$category">
    <div class="categoryTree" data-url="/api/v1/category/?type={$type}&node=2">{_'Loading ...'}</div>
</div>