<div id="search-category" class="modal modal-lg modal-inline modal-transparent">
    <div class="modal-header">
        <div class="text-right">
            <a class="btn btn-success modal-check" href="{plink CategoryItem:create, 'id' => $itemId, 't' => $type}" data-overlay="[data-overlay-wrapper='{$container->getName()}']">
                <i class="material-icons">check</i>
                {_'Add categories'}
            </a>
            <a class="btn btn-icon modal-close" href="#">
                <i class="material-icons">close</i>
            </a>
        </div>
    </div>
        
    <div class="modal-content col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <input type="hidden" name="{$container->getName()}" class="modal-inline-input" data-input-name="{$container->getName()}[category]" value="{implode(',', array_keys($categoryItems))}">
        
        <div class="row">
            <div class="form-group-transparent group col-xs-12">
                <fieldset>
                    <div class="input-field with-loader">
                        <i class="material-icons prefix showed">search</i>
                        <span class="prefix loader light small hidden"></span>
                        <input type="text" name="search-category" data-wame-autocomplete="category">
                        <label for="search-category">{_'Search category'}</label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group-transparent group col-xs-12">
                <fieldset class="stack">
                    <div n:foreach="$categoryItems as $key => $title" class="chip chip-light" data-category="{$key}">
                        {$title}
                        <i class="close material-icons" data-category="{$key}">close</i>
                    </div>
                </fieldset>
            </div>
        
            <div class="group col-xs-12" id="category-tree">
                <fieldset>
                    <div class="input-field">
                        <div class="categoryTree" data-url="/api/v1/category/?type={$type}" data-input="{$container->getName()}">
                            <div class="preloader valign-wrapper">
                                <div class="preloader-wrapper active valign">
                                    <div class="spinner-layer">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>