<div class="overlay-wrapper" data-overlay-wrapper="{$container->getName()}">
    {input $container['category']}

    {include 'default-modal.latte'}

    {if count($categories) == 0}
        <div class="empty-block">
            <p class="text-center">{_'This item does not added any category.'}</p>

            <a class="btn btn-success" href="#search-category">
                <i class="material-icons">add_circle_outline</i>
                {_'Add category'}
            </a>
        </div>
    {else}
        <a class="btn btn-link btn-block" href="#search-category">
            <i class="material-icons">add_circle_outline</i>
            {_'Add category'}
        </a>

        <ul class="collection no-margin striped highlight category-list">
            <li n:foreach="$categories as $categoryItem" class="collection-item">
                {$categoryItem->getCategory()->getTitle()}

                <div class="secondary-content">
                    {if $categoryItem->getMain() == 1}
                        <a class="btn btn-icon btn-xs btn-hover-warning tooltipped" href="#" data-position="left" data-tooltip="{_'This category is main'}">
                            <i class="material-icons">star</i>
                        </a>
                    {else}
                        <a class="btn btn-icon btn-xs btn-hover-warning tooltipped ajax" href="{plink :Admin:CategoryItem:setMain, 'id' => $categoryItem->getId()}" data-position="left" data-tooltip="{_'Set main category'}">
                            <i class="material-icons">star_border</i>
                        </a>
                    {/if}

                    <a class="btn btn-icon btn-xs btn-hover-danger tooltipped ajax-modal" href="{plink :Admin:CategoryItem:delete, 'id' => $categoryItem->getId()}" data-position="left" data-tooltip="{_'Remove category'}">
                        <i class="material-icons">clear</i>
                    </a>
                </div>
            </li>
        </ul>
    {/if}
</div>