{var $categories = $_form['CategorySelect2Container']['categories']}
<div class="form-group">
	{label $categories/}
    <select class="form-control category-select2" n:name="$categories"></select>
</div>