{var $category = $_form['CategoryTreeContainer']['category']}
<div class="form-group">
    <!-- TODO: -- premiestnit inline style do suboru -->
    <label style="position: relative">{_'Category'}</label>
    <input class="form-control" n:name="$category">
    <div id="tree1" data-url="/api/v1/category/?type={$type}"></div>
</div>