{var $category = $_form['CategoryTreeContainer']['category']}
<div class="form-group">
    <input class="form-control" n:name="$category">
    <div class="categoryTree" data-url="/api/v1/category/?type={$type}">{_'Loading ...'}</div>
</div>