{var $category = $_form['CategoryTreeContainer']['category']}
<div class="form-group">
    <input class="form-control" n:name="$category">
    <div id="tree1" data-url="/api/v1/category/?type={$type}"></div>
</div>