services:
	PermissionObject:
		setup:
			- addResource('category')
			- addResourceAction('category', 'view')
			- allow('guest', 'category', 'view')
			- addResourceAction('category', 'add')
			- allow('moderator', 'category', 'add')
			- addResourceAction('category', 'edit')
			- allow('moderator', 'category', 'edit')
			- addResourceAction('category', 'delete')
			- allow('moderator', 'category', 'delete')

	- Wame\CategoryModule\Forms\CategoryForm

#	- Wame\CategoryModule\Controls\ArticleList

	# Entities
	- Wame\CategoryModule\Entities\CategoryEntity
	- Wame\CategoryModule\Entities\CategoryLangEntity
	- Wame\CategoryModule\Entities\CategoryItemEntity

	# Repositories
	- Wame\CategoryModule\Repositories\CategoryRepository
	- Wame\CategoryModule\Repositories\CategoryLangRepository
	- Wame\CategoryModule\Repositories\CategoryItemRepository

	CategoryTreeMenu:
		class: Wame\CategoryModule\Controls\CategoryTreeMenu
		setup:
			- injectRepository




	# Factories
	- Wame\CategoryModule\Forms\ITitleFormContainerFactory
	- Wame\CategoryModule\Forms\IUrlFormContainerFactory
	- Wame\CategoryModule\Forms\IParentFormContainerFactory

	# Create article in administration form
	CreateCategoryForm:
		class: Wame\CategoryModule\Vendor\Wame\AdminModule\Forms\CreateCategoryForm
		setup:
			- addFormContainer(Wame\CategoryModule\Forms\TitleFormContainer(), 'TitleFormContainer', 99)
			- addFormContainer(Wame\CategoryModule\Forms\UrlFormContainer(), 'UrlFormContainer', 98)
			- addFormContainer(Wame\CategoryModule\Forms\ParentFormContainer(), 'ParentFormContainer', 97)





#	ArticleList:
#		class: Wame\CategoryModule\Controls\ArticleList
#		setup:
#			- injectRepository

#	CategoryList:
#		class: Wame\CategoryModule\FormCategory\Controls\CategoryList
#		setup:
#			- addRepository(Wame\CategoryModule\Repositories\CategoryRepository) # TODO: rename method to logic one






	# Events
	- {class: Wame\CategoryModule\Events\CategoryListener, tags: [run]}

doctrine:
	metadata:
		Wame\CategoryModule\Entities: %appDir%/../vendor/wame/CategoryModule/entities
		Wame\CategoryModule\Repositories: %appDir%/../vendor/wame/CategoryModule/repositories

extensions:
	formCategory: Wame\CategoryModule\FormCategory\DI\FormCategoryExtension
	metaEditor: Wame\SeoModule\MetaEditor\DI\MetaEditorExtension