services:
	PermissionObject:
		setup:
			- addResource('category')
			- addResourceAction('category', 'view')
			- allow('guest', 'category', 'view')
			- addResourceAction('category', 'add')
			- allow('moderator', 'category', 'add')
			- addResourceAction('category', 'edit')
			- allow('moderator', 'category', 'edit')
			- addResourceAction('category', 'delete')
			- allow('moderator', 'category', 'delete')

	- Wame\CategoryModule\Forms\CategoryForm

	# Entities
	- Wame\CategoryModule\Entities\CategoryEntity
	- Wame\CategoryModule\Entities\CategoryLangEntity

	# Repositories
	- Wame\CategoryModule\Repositories\CategoryRepository
	- Wame\CategoryModule\Repositories\CategoryLangRepository


doctrine:
	metadata:
		Wame\CategoryModule\Entities: %appDir%/../vendor/wame/CategoryModule/entities
		Wame\CategoryModule\Repositories: %appDir%/../vendor/wame/CategoryModule/repositories

extensions:
	formCategory: Wame\CategoryModule\FormCategory\DI\FormCategoryExtension