services:
    # Form containers
    - Wame\CategoryModule\Forms\ITitleFormContainerFactory
    - Wame\CategoryModule\Forms\IUrlFormContainerFactory
    - Wame\CategoryModule\Forms\IParentFormContainerFactory
    - Wame\CategoryModule\Forms\IDepthFormContainerFactory
    - Wame\CategoryModule\Forms\ICategoryTreeFormContainerFactory
    - Wame\CategoryModule\Forms\ITypeFormContainerFactory


    # Form groups
    - Wame\CategoryModule\Forms\Groups\ICategoryGroupFactory


    # Containers
    - Wame\CategoryModule\Forms\Containers\ICategoryContainerFactory
    - Wame\CategoryModule\Forms\Containers\ICategoryTreeContainerFactory
    - Wame\CategoryModule\Forms\Containers\ICategorySelect2ContainerFactory
    - Wame\CategoryModule\Forms\Containers\IParentContainerFactory


    # Forms

    # Create category in administration form
    CreateCategoryForm:
        class: Wame\CategoryModule\Vendor\Wame\AdminModule\Forms\CreateCategoryForm
        setup:
            - addFormContainer(Wame\CategoryModule\Forms\TitleFormContainer(), 'TitleFormContainer', 99)
            - addFormContainer(Wame\CategoryModule\Forms\UrlFormContainer(), 'UrlFormContainer', 98)
            - addFormContainer(Wame\CategoryModule\Forms\ParentFormContainer(), 'ParentFormContainer', 97)

    # Edit category in administration form
    EditCategoryForm:
        class: Wame\CategoryModule\Vendor\Wame\AdminModule\Forms\EditCategoryForm
        setup:
            - addFormContainer(Wame\CategoryModule\Forms\TitleFormContainer(), 'TitleFormContainer', 99)
            - addFormContainer(Wame\CategoryModule\Forms\UrlFormContainer(), 'UrlFormContainer', 98)
            - addFormContainer(Wame\CategoryModule\Forms\ParentFormContainer(), 'ParentFormContainer', 97)

    CategoryListForm:
        class: Wame\CategoryModule\Forms\CategoryListForm

    CategoryFilterFormBuilder:
        class: Wame\CategoryModule\Forms\CategoryFilterFormBuilder
        setup:
            - add(@Wame\CategoryModule\Forms\Containers\ICategoryContainerFactory, "CategoryContainer", {priority: 90})
#            - add(@Wame\DynamicObject\Forms\Containers\ISubmitContainerFactory, "SubmitContainer", {priority: 0})


    - Wame\CategoryModule\FormCategory\Controls\ICategorySelect2Factory

extensions:
    formCategory: Wame\CategoryModule\FormCategory\DI\FormCategoryExtension
#	metaEditor: Wame\SeoModule\MetaEditor\DI\MetaEditorExtension