<a href="#{$control->getName()}" class="btn btn-default category-menu-button" role="button" data-toggle="collapse">
    <span class="fa fa-bars" aria-hidden="true"></span>
    {_'Categories'}
</a>

<div class="collapse" id="{$control->getName()}">
    {position categoryButtonControl}
</div>