{block content}
    <div class="row">
        <div class="col-md-3">
            {control categoryList type => 'shopProduct', parent => $parent}
        </div>
        <div class="col-md-9">
            {control listByType 'article'}
        </div>
    </div>