{block content}
    <div class="row">
        <div class="col-md-3">
            {control categoryList}
        </div>
        <div class="col-md-9">
            {position categoryRight}
        </div>
    </div>